{% extends 'base.html.twig' %}

{% block title  %}
    Категория - {{ category.name }}
{% endblock title %}
{% block body %}
{% for message in app.flashes('notice') %}
    <p>{{ message }}</p>
{% endfor %}
Category: {{ category.name }}<br>
Page: {{ page }}<br>

Products:
{% for product in category.products %}
    <hr>
    <a href="{{ path('product_show', {'id': product.id}) }}">
        {{ product.name }} - {{ product.price|number_format(2, ',', ' ') }}
    </a>
{% endfor %}

<p><a href="{{ path('category_message') }}">Add to cart</a></p>
{% endblock body%}