<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SuperShop{% endblock %}</title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SuperShop</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{ knp_menu_render('main') }}

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if ordersService.currentOrder.count %}
                    <li>
                        <p class="navbar-text">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            <span class="badge">{{ ordersService.currentOrder.count }}</span>
                            {{ ordersService.currentOrder.amount }}
                        </p>
                    </li>
                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li>
                        <p class="navbar-text"> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} </p>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="#" data-toggle="modal" data-target="#loginForm">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

                        <!-- Modal -->
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                        <div class="modal fade" id="loginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                                            <input type="text" id="username" class="form-control" name="_username" required="required" autocomplete="username" />
                                        </div>
                                        <div class="form-group">
                                            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                                            <input type="password" id="password" class="form-control" name="_password" required="required" autocomplete="current-password" />
                                        </div>
                                        <div class="checkbox">
                                            <label for="remember_me">
                                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                        <button type="submit" id="_submit" name="_submit" class="btn btn-primary">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#registerForm">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>

                        <!-- Modal -->

                        <form action="{{ path("fos_user_registration_register") }}" method="post">
                            <div class="modal fade" id="registerForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                            <button type="submit" id="_submit" name="_submit" class="btn btn-primary">{{ 'registration.submit'|trans({} , 'FOSUserBundle') }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
                {% endif %}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div>
{% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
